# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
/.idea.GameFrameworkStudyDemo.iml
# Datasource local storage ignored files
/../../../../../../:\UnityProject\GameFrameworkStudyDemo\.idea\.idea.GameFrameworkStudyDemo\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
